<<<<<<< HEAD
*, *::after, *::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
=======
body {
    margin: 0px;
    padding: opx;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
>>>>>>> 7a1d1e9d7f1e2b9f896b34a825e8dadb8f1e3ef5
